<%= form_tag({controller: 'stores', action: 'search'}, method: 'get', :class => 'form-inline'  ) do %>
  <div class="col-xs-8">
  <%= text_field_tag :q, params[:q], :id => 'search_field', :class => 'input-lg', :placeholder => 'Enter Store Name' %>
  </div>
  <div class="col-xs-4">
  <%= submit_tag "Search", :class => "btn btn-default btn-lg" %>
  </div>
<% end %>
