<br>
<p><b>Project Food Desert</b> exists to help researchers collect and analyze data on food availability in American cities.</p>
<p>Use the search bar to look up SNAP retailers from the <a href="http://www.fns.usda.gov/snap/retailerlocator">SNAP Retailer Locator</a></p>
<p>Then, submit the <b>USDA Food Security Assessment Toolkit</b> survey. The survey is based on the original USDA Food Security Assessment Toolkit found in Appendix C of <a href="http://scholarcommons.usf.edu/cgi/viewcontent.cgi?article=6003&context=etd">Desert in the Springs: Ethnography of a Food Desert</a></p>
<p>This is an <i>alpha</i> stage application. Currently, the best way to get the data collected is to email <a href="mailto:me@projectfooddesert.org">me@projectfooddesert.org</a>, but tools for obtaining the data directly are coming shortly.</p>
<p>I welcome feature requests and bug reports by email, or by creating an issue on our <a href="https://github.com/jhkennedy4/food_mapper">GitHub page</a></p>
<p>At this stage in development, I expect issues to arrise, so please feel free to reach out to me preemptively to ensure that you don't run into any difficulties while collecting data</p>
<br>
<h5>Sincerely,</h5>
<h4>John Kennedy</h4>
