<div class="footer-content">

  <div class="footer-section col-sm-4">
    <h5>Bugs and Feature Requests</h5>
    <a href="https://github.com/JHKennedy4/food_mapper/issues" class="btn btn-lg btn-default">Issue Tracker</a>
  </div>

  <div class="footer-section col-sm-4">
    <h5>Source and Citations</h5>
    <a href="https://github.com/jhkennedy4/food_mapper" class="btn btn-lg btn-default">View on GitHub</a>
  </div>

  <div class="footer-section col-sm-4">
    <h5>Contact</h5>
    <%= mail_to "me@projectfooddesert.org" do %>
      <div class="btn btn-lg btn-default">me@projectfooddesert.org</div>
    <% end %>
  </div>

</div>
